@page "/"
@inherits OwningComponentBase<SantaSleighTelemetryStateService>
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime

<PageTitle>Santa's Sleigh telemetry</PageTitle>

<h1>Santa's Sleigh telemetry</h1>
<h3><i class="bi bi-gift"></i> Gifts delivered: @Service.GiftsDelivered</h3>

<div id="map" @ref="_mapEl"></div>


<div class="row">
    <div class="card col m-3">
        <div class="card-body text-center">
            <h5 class="card-title">Pitching</h5>
            <img src="images/sleigh_x.png" style="transform: rotate(@(Service.GyroX)deg); transition-duration: 500ms;" class="m-3" width="200" />
        </div>
    </div>
    <div class="card col m-3">
        <div class="card-body text-center">
            <h5 class="card-title">Rolling</h5>
            <img src="images/sleigh_y.png" style="transform: rotate(@(Service.GyroY)deg); transition-duration: 500ms;" class="m-3" width="200" />
        </div>
    </div>
</div>

<hr />

<p>
    last update: <small>@Service.Date</small>
</p>

@code {
    private IJSObjectReference? _module;
    private IJSObjectReference? _polyline;
    private IJSObjectReference? _mapJs;
    private ElementReference?   _mapEl;

    private const double RomeLatitude = 41.902782;
    private const double RomeLongitude = 12.496366;

    protected override async Task OnInitializedAsync()
    {
        Service.StateChanged += TelemetryChanged;

        await Service.StartMonitoringAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var latitude = Service.Latitude == 0 ? RomeLatitude : Service.Latitude;
            var longitude = Service.Longitude == 0 ? RomeLongitude : Service.Longitude;

            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/Home.razor.js");
            _mapJs = await _module.InvokeAsync<IJSObjectReference>("initMap", _mapEl, latitude, longitude);
            _polyline = await _module.InvokeAsync<IJSObjectReference>("createPolyline", _mapJs, latitude, longitude);
        }
    }

    private void TelemetryChanged(object? sender, EventArgs e)
    {
        if (_module is not null)
            _ = _module.InvokeVoidAsync("updateMap", _mapJs, _polyline, Service.Latitude, Service.Longitude);

        InvokeAsync(() => StateHasChanged());
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            if (_polyline is not null) await _polyline.DisposeAsync();
            if (_mapJs is not null)    await _mapJs.DisposeAsync();
            if (_module is not null)   await _module.DisposeAsync();
        }
        catch (JSDisconnectedException) { }

        if (Service is not null)
            Service.StateChanged -= TelemetryChanged;
    }

}